titulo{
  background-color: aqua;
  color: aquamarine;
}
.texto{
  background-color: rgb(220, 245, 221);
  color: #282c34;
}
.padre{
  display: flex;
  flex-direction: row;
  margin: 5px;
  padding: 5px;
  border: 3px;
  border-style: dotted;
  border-color: rgb(27, 16, 189);
}
.hijo{
  flex-grow: 1;
  margin: 5px;
  padding: 5px;
  border: 3px;
  border-style: dotted;
  border-color: rgb(16, 126, 189);
}
.caja2{
  margin: 5px;
  padding: 5px;
  width: 500px;
  height: 500px;
  border: 3px;
  border-style: dotted;
  border-color: #ff0000;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.heart {
  color: #ff0000;
}

.small {
  font-size: 0.75rem;
}